body {
    padding: 30px;
    background: white;
}


.blue {
    width: 300px;
    height: 70px;
    background: blue;
    border-radius: 25px;
    margin-bottom: 20px;
}


.yellow {
    width: 90px;
    height: 90px;
    background: orange;
    border-radius: 15px;
    margin-bottom: 20px;
}


.red {
    width: 90px;
    height: 90px;
    background: red;
    border-radius: 50%;
    margin-bottom: 30px;
}


.img {
    width: 320px;
    border-radius: 20px;
}
